
// interpolation and extend topics

@mixin margin($position,$unit){
    margin-#{$position}:$unit;
}
#first{
    color:yellow;
    border: 2px solid red;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}

#sec{
    color:green;
    @extend#first;
    @include margin(left,150px )
}

#third{
    color:red;
    @extend#first;
}